{% extends 'bases/base.html' %}
{% load static %}
{% block title %}Vote{% endblock title %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock stylesheets %}
{% block javascript %}
<script src="{% static 'js/form.js' %}" defer></script>
<script src="{% static 'js/ajax.js' %}"></script>
{% endblock javascript %}
{% block content %}
<div class="page">
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show position-absolute end-0 w-100" role="alert">
            <i class="fa-sharp fa-solid fa-circle-exclamation"></i> {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    {% endif %}
    <div class="container" style="margin: 0;">
        <div class="row">
            <div class="col form__image">
                <div class="form__image--container">
                    <img src="{% static 'images/Voting-bro.svg' %}" alt="voting illustration">
                </div>  
            </div>
            <div class="col">
                <form action="{% url 'submit' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="event_id" value={{ event.EventID }}>
                    <p class="h3 fw-bold mb-5">{{ event.EventName }}</p>
                    <div class="form-step form-step-active">
                        <div>
                            <div>
                                <label for="class" class="form-label fw-bold">Select Class</label>
                                <select name="class" id="class" class="form-select form-select-lg mb-3" required>
                                    <option value="">Select</option>
                                    <option value="6A">6A</option>
                                    <option value="6B">6B</option>
                                    <option value="7A">7A</option>
                                    <option value="7B">7B</option>
                                    <option value="8A">8A</option>
                                    <option value="8B">8B</option>
                                    <option value="9A">9A</option>
                                    <option value="9B">9B</option>
                                    <option value="10A">10A</option>
                                    <option value="10B">10B</option>
                                    <option value="11A">11A</option>
                                    <option value="11B">11B</option>
                                    <option value="12A">12A</option>
                                    <option value="12B">12B</option>
                                    <option value="12C">12C</option>
                                </select>
                                <label for="name" class="form-label fw-bold">Student Name</label>
                                <input class="form-control form-control-lg" list="datalistOptions" id="name" name="name" placeholder="Type to search..." required>
                                <datalist id="datalistOptions">
                                    {% comment %} TODO: fetch student names from database asynchronously after class is selected {% endcomment %}
                                    <option value="San Francisco">
                                    <option value="New York">
                                    <option value="Seattle">
                                    <option value="Los Angeles">
                                    <option value="Chicago">
                                </datalist>
                            </div>
                            <div class="form__divider--container">
                                <span class="form__divider">
                                    OR
                                </span>
                            </div>
                            <div>
                                <label for="s_id" class="form-label fw-bold">Enter Student Id</label>
                                <input class="form-control form-control-lg" id="id" type="text" placeholder="eg- WIDXXXX" id="s_id" name="s_id" required>
                            </div>
                        </div>
                        <div class="mt-5">
                            {% comment %} <button type="button" onclick="prevFormStep()" class="btn btn-secondary">Previous</button> {% endcomment %}
                            <button type="button" onclick="nextFormStep()" class="btn btn-primary btn-lg" id="nextBtn">Next</button>
                        </div>
                    </div>
                    <div class="form-step">
                        <p class="h4 fw-bold mb-5">Verify Student Details</p>
                        <div class="py-3 border border-3 border-dark rounded-3">
                            <div class="d-flex">
                                <p class="h5 fw-bold mx-5">Name</p>
                                <span id="nameContainer">Not Found</span>    
                            </div>
                            <hr>
                            <div class="d-flex">
                                <p class="h5 fw-bold mx-5">Class</p>
                                <span id="classContainer">Not Found</span>
                            </div>
                            <hr>
                            <div class="d-flex">
                                <p class="h5 fw-bold mx-5">WID</p>
                                <span id="idContainer">Not Found</span>
                            </div>
                        </div>
                        <div class="mt-5">
                            <button type="button" onclick="prevFormStep()" class="btn btn-secondary btn-lg">Previous</button>
                            <button type="button" onclick="nextFormStep()" class="btn btn-primary btn-lg" id="nextBtn2">Next</button>
                        </div>
                    </div>
                    <div class="form-step">
                        {% for category in categorys %}
                            <div class="form__category-wrapper">
                                <p class="h4 fw-bold">{{ category.CategoryName }}</p>
                                <hr>
                                {% for option in options %}
                                    {% if option.OpitonCategory == category %}
                                        <div class="form-check form__category">
                                            <input class="form-check-input" type="radio" name="{{ category.CategoryName }}" value="{{ option.OptionID }}" required>
                                            <label class="form-check-label">{{ option.OptionName }}</label>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endfor %}
                        <div class="mt-5">
                            <button type="button" onclick="prevFormStep()" class="btn btn-secondary btn-lg">Previous</button>
                            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}