{% extends 'bases/base.html' %}
{% load static %}
{% block title %}Vote{% endblock title %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock stylesheets %}
{% block javascript %}
<script src="{% static 'js/form.js' %}" defer></script>
{% endblock javascript %}
{% block content %}
<div class="page">
    <div class="container" style="margin: 0;">
        <div class="row">
            <div class="col">
                <div style="position: sticky; top: 5rem;">
                    <img src="{% static 'images/Voting-bro.svg' %}" alt="voting illustration">
                </div>  
            </div>
            <div class="col">
                <form action="/vote">
                    <label for="event_name" class="form-label h3 fw-bold">Select Event</label>
                    <select name="event_name" id="event_name" class="form-select form-select-lg mb-3">
                        {% for event in events %}
                            <option value="{{ event.EventName }}">{{ event.EventName }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-primary btn-lg">Start Voting</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}