{% extends 'bases/base.html' %}
{% load static %}
{% block title %}Vote{% endblock title %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock stylesheets %}
{% block javascript %}
<script src="{% static 'js/form.js' %}" defer></script>
{% endblock javascript %}
{% block content %}
<div class="page">
    <div class="container" style="margin: 0;">
        <div class="row">
            <div class="col form__image">
                <div class="form__image--container">
                    <img src="{% static 'images/Voting-bro.svg' %}" alt="voting illustration">
                </div>  
            </div>
            <div class="col">
                <p class="form-label h3 fw-bold">Select Category</p>
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item"><a href="/vote/student/" class="text-decoration-none"><i class="fa-solid fa-graduation-cap fa-4x"></i><p class="pt-2">Student</p></a></li>
                    <li class="list-group-item"><a href="/vote/staff/" class="text-decoration-none"><i class="fa-solid fa-id-card fa-4x"></i><p class="pt-2">Staff</p></a></li>
                    <li class="list-group-item"><a href="/vote/visitor/" class="text-decoration-none"><i class="fa-solid fa-user fa-4x"></i><p class="pt-2">Visitor</p></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock content %}