{% extends 'bases/base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock stylesheets %}
{% block javascript %}
<script src="{% static 'js/form.js' %}" defer></script>
{% endblock javascript %}
{% block content %}
<div class="page">
    <div class="container" style="margin: 0;">
        <div class="row">
            <div class="col">
                <div>
                    <img src="{% static 'images/Voting-bro.svg' %}" alt="voting illustration">
                </div>  
            </div>
            <div class="col-6">
                <p class="h3 fw-bold">Select Event</p>
                <div class="list-group">
                    {% for event in events %}
                        <a href="/vote/{{ event.EventName }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" aria-current="true">
                        <span>{{ event.EventName }}</span> 
                        <span class="badge bg-primary rounded-pill">{{ event.Date }}</span>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}